<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>PS3: Parking Management</title>
</head>
<body>
<div id="content" >
  <h1 align="center"><strong>Project: Parking Management</strong></h1>
  <h2 align="center">Problem Set 3: Planning Your Web Application</h2>
  <h3 align="center">Powered by Web3 Group <br>(Theekshana, Chawisa)</h3>

  <br>
  <h3>Brief Description:</h3><br>
  <!-- comment out on Nov 6, 2016
  <p>Have you ever feel that you have to waste your time for parking your car?
    In Thailand, especially in Bangkok, not only a traffice congestion problem that we have to meet everyday,
    a limited space for parking a car is another problem that we have to meet in every rush hour.
    What if we can reserve a car park slot before our arrive time?
    Parking Management Project can help you to solve this problem.
    Our web application will enable customer to inquiry and reserve
    a parking space in many places. With our special technologies, we believe that our solution can bring your life
    much more easier. </p>
  -->
  <pre>
    Have you ever feel that you have to spend more time for searching through an available space in your office?
    In Thailand, especially in Bangkok, not only a traffic congestion problem that we have to meet everyday,
    a limited apace for parking a car is another problem that we have to meet in every rush hours.
    After the your long time were used on the road, before you go to your desk and work, why do you still have to feel stress when
    searching for the free parking lot again?
    Parking Management Project can help you to solve this problem.
    Our web application will enable user to inquiry a free parking space within the office and decrease their feeling
    about seaching for a free space. With our technological advances, we believe that our solution can bring your life much more easier.
  </pre>

  <h3>Exercises:</h3>

  <p><h4>[1] <i> Q&A</i></h4></p>

  <ol>
    <li><i><strong>What will people be able learn about in the community that you are building?
      <br>Alternatively, if you are automating some collaborative workflow, what work will people accomplish with your system?</strong></i></li>
      <pre>
      There are 3 groups of people will get a benefit from our project.
      <!--comment out on Nov 6, 2016
      The first group is our customer, they will save their time for finding a free parking space.<br>
      The second group is car space owner, they will save their money in the long run.</li>
      -->The first group is car owner, they will save their time for finding a free parking space.
      The second group is site owner and their security guard because they can easily monitor their places.
      The last group is sponsors, they will have more channel for advertising their products and services.
</pre>
    <li><i><strong>What do you want people to say about your service after a visit?</strong></i></li>
      <pre>
      We expect that people will say: my life can be planned with Parking Management. </pre>
    <li><i><strong>What are the relevant distinct user classes?</strong></i></li> <pre>
      Administrator : the one who maintain/monitor system.
      Car Space Owner : the owner of parking space who will have a deal with our system.
      User : the one who benefit with our system because their life will be easier when they have to find a parking lot.</pre>
      <!--comment out on Nov 6, 2016
     Customer : our target audience who will use our service for inquiring and reserving a parking space. </li> -->
   <li><i><strong>What should a user on a smartphone be able to do?</strong></i></li>
     <pre>
     Smartphone users can use our service via browser mobile application. We will apply responsive design with our website too.</pre>
 </ol>


 <h4>[2]<i> The illustration of user profiles in our website.</i></h4>



 <ul>
   <li><strong>Ms. Donrapern Wangcharerntikul</strong><br></li>
     <table class ="table table-striped">
       <tr>
         <td style="width:10%"><img src = "/assets/user1.jpg" width = "100%"></td>
         <td >
           Age: 35, married with one child<br>
           Occupation: Senior system analyst, AI Technology<br>
           Driving Experience: 15 years<br>
           Short-term goal: Spend more time with her child as much as possible.<br>
           Long-term goal: Complete another master degree in IT field.<br>
           <!--comment out on Nov 6, 2016
           Immediate questions: What if I reserve a parking space and I won't go, what happen then?<br>
           -->
           Immediate questions: No question. That's a great deal. Please do it as soon as possible. I want to park my car and be safe from all AIT animals as well.<br>
           Other interests: Swimming. Photo-shooting. <br>
           Technology Devices: Use mobile everyday. Own 3 Laptops and Samsung Galaxy S6. Love coding in Java.<br>
         </td>
       </tr>
     </table>
     <!--comment out on Nov 6, 2016
     <img src = "/assets/user1.jpg" width = "10%" height="10%">
     <br>
     Age: 35, married with one child<br>
     Occupation: Senior system analyst, AI Technology<br>
     Driving Experience: 15 years<br>
     Short-term goal: Spend more time with her child as much as possible.<br>
     Long-term goal: Complete another master degree in IT field.<br>
     Immediate questions: What if I reserve a parking space and I won't go, what happen then?<br>

     Immediate questions: No question. That's a great deal. Please do it as soon as possible. I want to park my car and be safe from all AIT animals as well.<br>
     Other interests: Swimming. Photo-shooting. <br>
     Technology Devices: Use mobile everyday. Own 3 Laptops and Samsung Galaxy S6. Love coding in Java.<br>
     -->

   <li><strong>Ms. Pinrak Phumchana</strong><br></li>
     <table  class ="table table-striped">
       <tr>
         <td style="width:10%"><img src = "/assets/user2.jpg" width = "100%" heigh = "100%" ></td>
         <td >
Age: 30, married with no child<br>
Occupation: Graduate student at Thammasat University<br>
Driving Experience: 8 years<br>
Short-term goal: Graduate MBA within this year.<br>
Long-term goal: Build her own business.<br>
Immediate questions: Will I be able to check a parking space at Thammasat Ta Pra Chan?<br>
Other interests: blogging. travelling <br>
Technology Devices: Own Macbook Pro (2008) and iPhone 5s.<br>
         </td>
       </tr>
     </table>
     <!--comment out on Nov 6, 2016
          <img src = "/assets/user2.jpg" width = "10%" height="10%">
          <br>
          Age: 30, married with no child<br>
          Occupation: Graduate student at Thammasat University<br>
          Driving Experience: 8 years<br>
          Short-term goal: Graduate MBA within this year.<br>
          Long-term goal: Build her own business.<br>
          Immediate questions: Will I be able to check a parking space at Thammasat Ta Pra Chan?<br>
          Other interests: blogging. travelling <br>
          Technology Devices: Own Macbook Pro (2008) and iPhone 5s.<br>
          -->


        <li><strong>Mr. Chaiya Vorathitikhan</strong><br></li>
          <table class ="table table-striped">
            <tr class>
              <td style="width:10%"><img src = "/assets/user3.jpg" width = "100%" ></td>
              <td>
                Age: 28, single<br>
                Occupation: Programmer, IT One Co.,Ltd<br>
                Driving Experience: 6 years<br>
                Short-term goal: Quit from single status within this year.<br>
                Long-term goal: Be a rich man.<br>
                Immediate questions: Is it a mobile app or web app? Do I have to pay for this service?<br>
                Other interests: playing game. watching movie. <br>
                Technology Devices: Own PC with Intel Quad Core I7, iPad Air, and Samsung Galaxy Note4. .Net Lover. <br>
              </td>
            </tr>
          </table>
          <!--
          <img src = "/assets/user3.jpg" width = "10%" height="10%">
          <br>
          Age: 28, single<br>
          Occupation: Programmer, IT One Co.,Ltd<br>
          Driving Experience: 6 years<br>
          Short-term goal: Quit from single status within this year.<br>
          Long-term goal: Be a rich man.<br>
          Immediate questions: Is it a mobile app or web app? Do I have to pay for this service?<br>
          Other interests: playing game. watching movie. <br>
          Technology Devices: Own PC with Intel Quad Core I7, iPad Air, and Samsung Galaxy Note4. .Net Lover. <br>
          -->

      </ul>


      <h4>[3]<i> A Textual or graphical usage scenario for how that user will experience
        your service.</i></h4>
<pre>
      <img src = "/assets/ux_ps3.jpg" width = "100%" height="100%">
</pre>

      <h4>[4] <i>Evaluate offline alternatives.</i></h4>

      <pre>
        The way to find the available parking space is to drive a car by yourselves and keep your finger crosses
        especially if you are finding a space in the crowded area like Siamsquare or Koh Ratanakosin.
        Currently, there is an alternative choice for a premium people who own serenade service or platinum credit card.
        Some places (i.e. Central Plaza) provides a special parking space for those members.
        Just show the car sticker or a card, then they can park a car easily. Some places also provides a phone call number for parking reservation.
        However, what about people who didn't use that kind of service or people who didn't have high income?
        <!-- new info added -->Another popular way in this present time is to put a sensor in every parking lots.
        It means that the parking provider have to invest a lot on implementing and maintaining those sensor.
        In addition, they still have to invest on cameras because sensor can't capture the activity in each the parking zone.</pre>

      <h4>[5] <i>Evaluate online alternatives. </i></h4>

      <pre>
        There is no online parking reservation service in Thailand. However,there is an alternative application like <a href="http://www.ninefar.com/whatnews/parknride-%E0%B9%81%E0%B8%AD%E0%B8%9E%E0%B8%84%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%B2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%88%E0%B8%AD%E0%B8%94%E0%B8%A3%E0%B8%96-%E0%B9%82%E0%B8%AB%E0%B8%A5%E0%B8%94%E0%B8%9F%E0%B8%A3%E0%B8%B5-%E0%B8%9A%E0%B8%99%E0%B9%81%E0%B8%AD%E0%B8%99%E0%B8%94%E0%B8%A3%E0%B8%AD%E0%B8%A2%E0%B8%94%E0%B9%8C/">ParkNRide.</a>
        This application can provide an information about the place that we can park a car but we will not know
        whether that place has any free space for parking in the next 30 minutes or not.</pre>


      <h4>[6] <i>Identify where the magnet content for your system is going to come from.
      </i></h4>

      <pre>
        A magnet content of our system is "the information of available parking space and<!-- comment out Nov 6...  our reservation --> monitor service" that we provide on our web application.</pre>


      <h4>[7] <i>Decide on hostname and figure out DNS registration procedures.
      </i></h4>
      <pre>
        At a first glance, we decided to build a prototype web application
        and do some testing on our web host (web3.cs.ait.ac.th) with mysql DBMS.
        Next step, for the real production, we are thinking about the domain name www.thaiparkplus.com which is still <a href="https://www.namecheap.com/domains/registration/results.aspx?domain=thaiparkplus.com">available</a> now.
        It's price is only $10.69/year. (To register this domain, we will use namecheap service)
        In case of hosting, we will rent a cloud platform from <a href="https://www.heroku.com/pricing">heroku</a> where we can build an application with Ruby on rails and deploy from git.
        The standard package is charged around $25/month then the total cost for our first scratch will be $310.69/year. </pre>

      <h4>[8] <i>Intellectual Property Rights</i></h4>

      <pre>
        For a part of Parking Management Web Application,the intellectual property rights of software will belong to us, web3 group.</pre>

      <h4>[9] <i>Download link for dump database</i></h4>
      <pre>
        Please check our <a href="http://web3.cs.ait.ac.th/pgdump.txt">Dump file</a></pre>

      <h4>[10] <i>CI URL</i></h4>

      <pre>
        Please check our <a href="/jenkins">Jenkins</a></pre>

      <h4>[11] <i>Issue Tracker Url</i></h4>

      <pre>
        Please check our <a href="/redmine">Redmine</a></pre>

      <h4>[12] <i>one-command deployment to production</i></h4>

      <pre>
        We wrote a shell script with following command then we just run only one command for deploying "sh fetch.sh" by Theekshana or "sh fetch1.sh " by Chawisa
</pre>
  <ol>
    <ul>
        <code>export BAZOOKA_USER=[our_student_id]</code><br>
        <code>git pull origin master</code><br>
        <code>sudo service apache2 restart</code>
    </ul>
  </ol>





     </div>


     </body>
     </html>