<h2 align="center">Problem Set 6: User Evaluation</h2>
<h3 align="center">Powered by Web3 Group <br>(Theekshana, Chawisa)</h3>

<h3>The evaluation reports(PDF Format) from us for web8 and web9.</h3>
<pre>
  This is our evaluation reports for <b><a href="http://ammii.org/docs/Web8GroupEvaluation.pdf">Web8</a></b> & <b><a href="http://ammii.org/docs/Web9GroupEvaluation.pdf">Web9</a></b>.
  In addition, our evaluation reports were sent to those 2 groups as well.
</pre>

<h3>The evaluation reports(PDF Format) for us from web12 and web13.</h3>
<pre>
  After we sent below email to our beloved evaluators.
  <img src="http://ammii.org/docs/PS6DearEvalators.png" width="70%" height="70%">

  And here it is our feedback from our friends, <b><a href="http://ammii.org/docs/Group3Eval_Web13.pdf">Web13</a></b> but we haven't got report from <b><a href="http://ammii.org/docs/Group3Eval_Web12.pdf">Web12</a></b>.
</pre>

<h3>A brief summary of the criticism from user.</h3>
<pre>
  On 18 November 2016, we have already shown our website to Dr.Matt who is our target user. Here it is a feedback transcript
  <img src="http://ammii.org/docs/PS618112016.jpg" width="50%" height="50%">

  From above image, it can be summarized as follow:
  (1) As viewer, they should not see user status info and some other contents as well.
      For instance, viewer should not see a button that link to the configuration page.
  (2) In each icon, please put text label for annotating all links
  (3) In sign in page, change icon to CP image.
  (4) Change the title page name from Available config to Parking lots.
  (5) As admin, they should be able to see the whole information.
      Try to make a configuration dashboard then it would be better.
  (6) In the selector page, there are multiple tags and they don't know what it is.
      Please put an instruction and try to make it easy to use.
</pre>

<h3>A brief action plan after the criticism from user.</h3>
<pre>
  (1) About authorisation part, we plan to revise about each objects per each role again.
  (2) We do need to work hard on look & feel. Try to make it not too fancy but simple, clean, and easy to understand.
  (3) More unit testing indeed!
</pre>